@model VisitasApp.Models.Visita

@{
    ViewData["Title"] = "Edit";
}

<div class="form-container">
    <h1>Editar Visita</h1>
    <hr />

    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="IdEstado" />        
        <input type="hidden" asp-for="Entrada" class="form-control" />
        <input type="hidden" asp-for="FechaRegistro" class="form-control" />        
        
        <div class="row mt-2" id="margen10">
            <div class="col-md-6">
                <div class="form-floating">
                    <select asp-for="IdTipoDocumento" class="form-control" asp-items="ViewBag.IdTipoDocumento" aria-required="true">
                        <option value=""></option>
                    </select>
                    <label asp-for="IdTipoDocumento" class="control-label">Tipo Dococumento</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating">
                    <input asp-for="Documento" class="form-control" autocomplete="No. Documento" aria-required="true" />
                    <label asp-for="Documento" class="control-label">No. Documento</label>
                    <span asp-validation-for="Documento" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-floating" id="margen10">
            <input asp-for="Nombres" class="form-control" autocomplete="Nombres" aria-required="true" />
            <label asp-for="Nombres" class="form-label"></label>
            <span asp-validation-for="Nombres" class="text-danger"></span>
        </div>
        <div class="form-floating" id="margen10">
            <input asp-for="Apellidos" class="form-control" autocomplete="Apellidos" aria-required="true" />
            <label asp-for="Apellidos" class="control-label"></label>
            <span asp-validation-for="Apellidos" class="text-danger"></span>
        </div>
        <div class="form-floating" id="margen10">
            <select asp-for="IdDepartamento" class="form-control" asp-items="ViewBag.IdDepartamento" aria-required="true">
                <option value=""></option>
            </select>
            <label asp-for="IdDepartamento" class="control-label">Departamento</label>
        </div>
        <div class="form-floating" id="margen10">
            <input asp-for="Comentario" class="form-control" autocomplete="Comentario" aria-required="true" />
            <label asp-for="Comentario" class="control-label"></label>
            <span asp-validation-for="Comentario" class="text-danger"></span>
        </div>
        <div class="form-floating" id="margen10">
            <input type="datetime-local" asp-for="Salida" class="form-control" autocomplete="Salida" aria-required="true" />
            <label asp-for="Salida" class="control-label"></label>
            <span asp-validation-for="Salida" class="text-danger"></span>
        </div>        
        <div class="row mt-2">
            <div class="col-md-6"> 
                <div class="form-group">
                    <input type="submit" value="Guardar" class="btn btn-primary w-100" />
                </div>
            </div>
            <div class="col-md-6"> 
                <a asp-action="Index" class="btn btn-secondary w-100"> Cancelar</a>
            </div>
        </div>  
    </form>    
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
